* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background: rgb(54,77,204);
    color: black;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    background-size: 120px;
    background-position: center;
}

.profile {
    text-align: center;
    margin-top: 20px;
}

.avatar {
    width: 100px;
    border-radius: 50%;
    border: 3px solid black;
    box-shadow: 0 0 20px white;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 100 ;
    font-size: 24px;
    margin-bottom: 2px;
}

h2 {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    border: 2px dotted black;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
}

.social {
    display: flex;
    justify-content: space-around;
    margin: 10px 0 20px 0;
    list-style: none;
}

.social a {
    text-decoration: none;
}

.social img {
    width: 50px;
}

.links-list {
    list-style: none;
    margin: 10px 0 10px 0;
    padding: 5px 0;
}

.links-list li {
    box-shadow: 0 0 20px white;
    margin: 15px 20px;
}

.links-list li a {
    display: block;
    text-decoration: none;
    background: white;
    border: 2px dashed black;
    padding: 15px 20px;
    border-radius: 4px;
    color: rgb(54,77,204);
    font-weight: bold;
    border-radius: 15px;
}

.links-list li a span {
    color: gray;
    display: block;
    margin-top: 5px;
}
